<h2>Create an article about a new building</h2>
<form action="/articles/new" method="POST">
  <input type="text" name="header" placeholder="Address">
  <textarea rows="5" cols="80" type="text" name="body_text" placeholder="Input Information Here">
  </textarea>
  <input type="submit">
</form>