<h2>Create an article about a new building</h2>
<form action="/articles/new" method="POST">
  <input type="text" name="header" placeholder="Address">
  <input type="text" name="body_text" placeholder="Input Information here">
  <input type="submit">
</form>