<p> welcome </p>
<a href="/list_all_articles"><button>List of Articles</button></a>
<form action="/sessions" method="POST">
  <input type="hidden" name="_method" value="delete">
  <button>Sign Out</button>
</form>