<div class="welcome-messages outside">
  <h1 id="welcome header">Welcome to the Delivery Database</h1>
  <h2 id="welcome description">To view the listings of information for delivery locations, please sign up or sign in.</h2>
</div>
<div class="enter-website">
  <a href="/sign_in"><button>Sign In</button></a>
  <a href="/sign_up"><button>Sign Up</button></a>
</div>