<!DOCTYPE html>
<html>
<head>
  <title>Delivery Database</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/jQuery.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
<%= yield %>
</body>
</html>