<p><a href="/categories/new">Create a new Category</a></p>
<p>View Articles by Category</p>
<ul>
  <% @categories.each do |category| %>
    <li>
      <a href="/categories/<%= category.id%>"><%= category.name %></a>
    </li>
  <% end %>
</ul>