<form action="/sessions" method="POST">
  <input type= "name" name= "username" placeholder= "username">
  <input type="password" name="password" id="password" placeholder="password">
  <button>Log In</button>
</form>