<h2>Sign up!</h2>
<form action="/sign_up" method="POST">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder="EMail Address">
  <input type="submit">
</form>
