/*basic gobal css*/
body{
  text-align: center;
  font-family: palatino;
}
footer{
  display: inline-block;
}
button{
  font-size: 20px;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}
input{
  font-size: 20px;
}
/*layout*/
#content,
.footer-content{
  background-color: red;
  width: 50%;
  margin: auto;
  border-radius: 5px;
}


/*headers*/




/*modal*/
#mask{  
  position:absolute; 
  top:0px;  
  left:0px; 
  height:100%;
  width:100%; 
  display:none; 
  background-color: black;  
}  
.modal_window{  
  position:absolute;  
  display:none;
  color:white;  
}  
