/*basic gobal css*/
body{
  text-align: center;
  font-family: helvetica;
  background-image: url("/images/cityscape.jpg");
}
footer{
  display: inline-block;
}
button,
input{
  font-size: 20px;
  width: 210px;
  margin: 10px;
  border-radius: 5px;
}

/*layout*/
#content,
.footer-content{
  background-color: white;
  width: 50%;
  margin: auto;
  border-radius: 5px;
}
/*headers*/
.header{
  padding-top: 20px;
}



/*modal*/
#mask{  
  position:absolute; 
  top:0px;  
  left:0px; 
  height:100%;
  width:100%; 
  display:none; 
  background-color: black;  
}  
.modal_window{  
  position:absolute;  
  display:none;
  color:white;  
}  
