<h2 class="article header">Create an article about a new building</h2>
<div class="article form new">
  <form class ="new-article-input" action="/articles/new" method="POST">
    <input type="text" name="header" placeholder="Address">
    <textarea rows="10" cols="40" type="text" name="body_text">
#WARNINGS

insert here

##How to get in to building

insert here

###Format apartment numbers like this

insert relevant information about the apartment here
    </textarea>
    <input type="submit">
  </form>
</div>