<h1 class="article header">Edit <%= @article.header %></h1>

<p><a class='activate_modal' name='first_window' href='#'>First modal window.</a></p>
<p><a class='activate_modal' name='second_window' href='#'>Second modal window.</a></p>

<div id='mask' class='close_modal'></div>

<div id='first_window' class='modal_window'>This is the first modal window</div>
<div id='second_window' class='modal_window'>Welcome to the second modal window</div>

<div class="article form edit">
  <form action="/articles/<%= @article.id %>" method="POST">
    <input type="hidden" name="_method" value="patch">
    <input type="text" name="header" placeholder="Edit title here" value="<%= @article.header %>">
    <textarea rows="5" cols="80" type="text" name="body_text">
      <%= @article.body_text %>
    </textarea>
    <input type="text" name="name" placeholder="Add a category here">
    <input type="submit">
  </form>
</div>