<h1 class="article header">Edit <%= @article.header %></h1>

<p><a class='activate_modal' name='instructions' href='#'>For instructions on how to use markdown features click here</a></p>

<div id='mask' class='close_modal'></div>

<div id='instructions' class='modal_window'>
  <p>Formatting Instructions:</p>

  
  <p>*word* renders <i>word</i></p>
  <p>**word** renders <b>word</b></p>
  <p>#WARNINGS is written as such to make it a header</p>
  <p>##How to get into building is written as such to make it a secondary header</p>
  <p>Make sure to format apartment numbers in the same</p>
  <p>##Header format.</p>
</div>

<div class="article form edit">
  <form action="/articles/<%= @article.id %>" method="POST">
    <input type="hidden" name="_method" value="patch">
    <input type="text" name="header" placeholder="Edit title here" value="<%= @article.header %>">
    <textarea rows="5" cols="80" type="text" name="body_text">
      <%= @article.body_text %>
    </textarea>
    <input type="text" name="name" placeholder="Add a category here">
    <input type="submit">
  </form>
</div>