<div class="article header">
  <h1 class="article header">List of articles</h1>
  <p class="article create"><a href="/articles/new">Create a new article</a></p>
</div>
<div class="article list">
  <ul>
    <% @articles.each do |article| %>
      <li>
        <a href="/articles/<%= article.id%>"><%= article.header %></a>
      </li>
    <% end %>
  </ul>
</div>