<h1 class="category header">View Articles by Category</h1>
<div class="category list">
  <% @categories.each do |category| %>
    <p>
      <a href="/categories/<%= category.id%>"><%= category.name %></a>
    </p>
  <% end %>
</div>