<h2 class="user signin header">Sign In Below:</h2>
<div class="user form signin">
  <form action="/sessions" method="POST">
    <input type= "name" name= "username" placeholder= "username">
    <input type="password" name="password" id="password" placeholder="password">
    <button>Log In</button>
  </form>
</div>