<h2 class="header">Sign up!</h2>
<div class="user form create">
  <form action="/sign_up" method="POST">
    <input type="text" name="username" placeholder="Username">
    <br>
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="password_confiirmation" placeholder="Confirm Password">
    <br>
    <input type="text" name="Email" placeholder="EMail Address">
    <br>
    <input type="submit">
  </form>
</div>
