<div class="user form create">
  <h2>Sign up!</h2>
  <form action="/sign_up" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="password_confiirmation" placeholder="password_confirmation">
    <input type="text" name="email" placeholder="EMail Address">
    <input type="submit">
  </form>
</div>
